/* here you can put your own css to customize and override the theme */
.page-header .page-header-menu {
  height: auto;
}

.panel-default > .panel-heading {
  border: 0px;
  background-color: #eeeeee;
}
